@model EmployeesProject.WebApp.ViewModels.EmployeeViewModel
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
   Agregar
</button>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fileModal">
    Importar
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="Form" asp-controller="Employee" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar empleados</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">


                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Employee.Nombres"></label>
                            <input asp-for="Employee.Nombres" class="form-control">
                            <span asp-validation-for="Employee.Nombres" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Employee.Apellidos"></label>
                            <input asp-for="Employee.Apellidos" class="form-control">
                            <span asp-validation-for="Employee.Apellidos" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Employee.FechaNacimiento"></label>
                            <input asp-for="Employee.FechaNacimiento" class="form-control">
                            <span asp-validation-for="Employee.FechaNacimiento" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Employee.DUI"></label>
                            <input asp-for="Employee.DUI" class="form-control">
                            <span asp-validation-for="Employee.DUI" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Employee.NIT"></label>
                            <input asp-for="Employee.NIT" class="form-control">
                            <span asp-validation-for="Employee.NIT" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Employee.ISSS"></label>
                            <input asp-for="Employee.ISSS" class="form-control">
                            <span asp-validation-for="Employee.ISSS" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Employee.Telefono"></label>
                            <input asp-for="Employee.Telefono" class="form-control">
                            <span asp-validation-for="Employee.Telefono" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        @*<button type="submit" class="btn btn-primary col-2">Guardar</button>
                <button type="button" class="btn btn-primary col-2">Modificar</button>
                <button type="button" class="btn btn-primary col-2">Eliminar</button>
                <button type="button" class="btn btn-primary col-2">Importar</button>
                <button type="button" class="btn btn-primary col-2">Exportar</button>*@

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary col-2">Guardar</button>
                </div>
            </form>
        </div>
        
    </div>
</div>


<div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="AddFile" asp-controller="Employee" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileModalLabel">Importar xls</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="file" asp-for="FormFile" onchange="return checkfile(this);" value="Importar" />
                        </div>
                        
                    </div>
                 </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary col-2">Guardar</button>
                </div>
            </form>
        </div>

    </div>
</div>