@model EmployeesProject.WebApp.ViewModels.EmployeeViewModel

    <partial name="_PartialEmployee.cshtml" />
    @*<input type="file" class="hide" id="importar" onchange="checkfile(this);" value="Importar" />
    <button type="button" data-import="importar" class="btn btn-primary">Importar</button>*@
    <div class="row">
        <div class="col-12">
            <table id="employees-table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Fecha de nacimiento</th>
                        <th>DUI</th>
                        <th>NIT</th>
                        <th>ISSS</th>
                        <th>Teléfono</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    @section scripts {

        <script type="text/javascript" src="~/js/common/defaults.js"></script>
        <script type="text/javascript" src="~/js/views/employee/form.js"></script>
    }